# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.csv
__pycache__/
.eggs/
build/
dist/
*.egg-info/
*.json

# Dependency directories (remove the comment below to include it)
# vendor/
strategy-mac-amd64
strategy-win-amd64.exe
*.png
*.pkl

#visual studio
.vs/
out/

# CMake specific
*build/
cmake-build*/

# vcpkg specific
vcpkg_installed/

# CLion
.cache/

.env


# Added by cargo

target/
